@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');
@import '../../styles/_variables';



.navbar {
  background-color: $color-brown;
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


    i {
      font-style: 'Flaticon-Uicons' !important;
      display: inline-block;
      vertical-align: middle;
      color: $color-white; 
      font-size: 1.5rem;
    }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    font-family: 'Alumni Sans Pinstripe', sans-serif;

  }

  .navbar-left {
    .navbar-logo h1 {
      font-size: 2.2rem;
      font-weight: bold;
      color: $color-white;
      text-decoration: none;

      &:hover {
        //color: lighten($color-white, 10%);
      }
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px; 
    color: $color-white;

    .navbar-btn{
      background: none; 
      border: none; 
      color: $color-white; 
      text-decoration: none; 
      font-size: 1.5rem; 
      cursor: pointer; 
      padding: 0; 
      margin: 0; 
      transition: color 0.3s ease, transform 0.2s ease; 

      &:hover {
        transform: scale(1.05); 
      }

      &:focus {
        outline: none;
      }

      &:active {
        transform: scale(0.95); 
      }
    }


  }
}
